@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: transparent;
  z-index: 50;
}


.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Kanit";
  font-size: 2rem;
  font-weight: bold;
}

.navbar-link:hover {
  color: #92d1f6;
}

.navbar-link img {
  width: 30px;
  margin-right: 5px;
}

.menu-icon {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  background: rgb(46, 46, 46);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
  padding: 10px;
  z-index: 50;
  border-radius: 8px;
  color: "#ffffff"
}

.close-menu {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: black;
  font-family: "Kanit";
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}



.menu-icon-svg {
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: transform 0.3s ease;
}

.open .menu-icon-svg {
  transform: rotate(90deg);
}

.mobile-menu.open {
  transform: translateX(20%);
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
