@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.page-container {
  position: relative;
  display: flex;
  min-height: 100vh;
  background-color: orange;
}

.image-container {
  flex: 1 0 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.right-image {
  background-image: url("/image2.jpg");
  background-position: right;
}

.left-image {
  background-image: url("/image4.jpg");
  background-position: left;
}

.spacing {
  flex: 1 0 40%;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.title {
  color: white;
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
  text-align: center;
}

.storyline {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
